{% extends 'base/frontpage.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-section">
        <h2 class="welcome">Reset password</h2>
        <p>Tell us email adress attached to your account so we can get you back to reading at Readist</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="login-btn" type="submit">Send email</button>
        </form>
    </div>
{% endblock content %}