{% extends 'base/frontpage.html' %}
{% block content %}
    <div class="about-content mr-5 mt-3" >
        <h1 class="about-title mb-4">About Readist, How it all started</h1>
        <p class="about-txt mr-5">
            Readist is a platform made with intention to inspire people and give them opportunity to express ideas or share their knowledge. This is place where great ideas have ability to be shared around the world.
            
            Our platform is open for all subjects. We use categories specification to make it easier for readers to find what is interesting for them. Our purpose is to make reading more enjoyable, accessible as well as easier to use on the go.

            By creating account you also gain opportunity to start sharing your own knowledge with others. This allows to create own idea board where all of your articles are stored.
            
            We hope you will use Readist with joy!        
        </p>
    </div>
{% endblock content %}