{% extends 'base/index.html' %}
{% block content %}
    <div class="content-section mb-5 mt-4">
        <p class="text-muted"><a href="{% url 'account' %}">Cancel</a> | <a href="{% url 'homepage' %}">Home page</a>
        </p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>
                    Do you want to delete '{{ article.title }}' article?
                </h2>
                <p>Please note that you will not be able to recover it ? Do you still want to delete it ?</p>
            </fieldset>
            <div class="form-group">
                <button class="btn-save-delete" type="submit">Yes, delete</button>
            </div>
        </form>
    </div>
{% endblock content %}