{% extends 'base/frontpage.html' %}
{% block content %}
    <div class="about-content mr-5 mt-3">
        <h1 class="about-title">Inspire others, Inspire yourself</h1>
        <p class="about-txt">
            Readist gives an opportunity for journalists or even future novelists to make portfolio by creating small articles that become collection ready for employers or managers who are looking for talents.
            Not only you can create portfolio but also make articles that share useful lessons or tips.

            Our purpose is to make Readist useful for everybody thats why you can simply be inspiration for others and share articles related with your life and experiences.
        </p>
    </div>
{% endblock content %}