{% extends 'base/index.html' %}
{% block content %}
<article class="content-section">
    <div class="article-body">
        <div class="article-metadata mb-5">
            <img class="rounded-circle article-img" src="{{ article.author.account.img.url }}">
            <a class="mr-2">{{ article.author }}</a>
            <small class="text-muted"> | Published on {{ article.date_added|date:"F d, Y" }}
                {% if authenticated_user == article.author %}
                | <a href="{% url 'update-article' article.id %}">Update</a>
                | <a href="{% url 'delete-article' article.id %}">Delete article</a>
                {% endif %}
            </small>
        </div>
        <div class="article-categories-read">
            <p class="article-category category text-muted">{{ article.category }},  {{ article.sub_category }}</p>
        </div>
        <div class="article-full-content mb-5">
            <h2 class="article-title-read ">{{ article.title }}</h2>
            <p class="article-content-read">{{ article.content }}</p>
        </div>
    </div>
</article>
{% endblock content %}
